{% extends "skeletron.html" %}
{% load static i18n webpack_asset webpack_preload resource_hints %}
{% block end_head %}
	{% webpack_asset 'bootstrap-css.css,css/bootstrap-icons.css,style.css' %}
{% endblock %}
{% block begin_head %}
	<meta charset="utf-8">
	<title>{% block title %}{{ global_seo.title }}{% endblock %} | {{ global_seo.name }}</title>
	<base href="{{ request.build_absolute_uri|slice:":-1" }}">
	{% resource_hints %}
	{% block meta_icons %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% include "./inc/meta_icons.html" %}
		<link rel="canonical" href="{{ canonical_url|default:request.build_absolute_uri }}" />
	{% endblock %}
	{% block preloads_css %}
		{% webpack_preload 'bootstrap-css.css,css/bootstrap-icons.css,style.css' %}
	{% endblock %}
	{% block preloads_js %}
		{% webpack_preload 'runtime.js,vendor/bootstrap.js,vendor/popperjs-core.js,bootstrap-js.js,main.js' %}
	{% endblock %}
	{% block meta_tags %}
		{% include "./inc/meta_tags.html" %}
	{% endblock %}
{% block blockbots %}{% endblock %}
{% endblock %}
{% block extrascript %}
	{% webpack_asset 'runtime.js,vendor/bootstrap.js,vendor/popperjs-core.js,bootstrap-js.js' %}
{% endblock %}
{% block initscript %}
	{% webpack_asset 'main.js' %}
{% endblock %}
