<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ global_seo.title }}">
<meta name="twitter:description" content="{{ global_seo.description }}">
<meta name="twitter:image" content="{{ global_seo.image }}">
<meta name="twitter:site" content="{{ global_seo.absolut_url }}">
<meta name="rating" content="General">
<meta name="expires" content="never">
<meta name="revisit-after" content="1 days">
<meta name="distribution" content="Global">
