/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	background: url("../img/bg.jpg") top center no-repeat;
	background-size: cover;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(49, 71, 89, 0.6);
	}
}
